* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 95vh;
  width: 100%;
  margin-bottom: 5vh;
}

.hero__header {
  width: 100%;
  height: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__header--logo {
  font-size: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5%;
          flex: 0 0 5%;
  color: #01996D;
  margin-left: 25rem;
  line-height: 3.4rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
}

.hero__header--nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  margin-left: -10rem;
}

.hero__header--list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero__header--link {
  color: #292929;
  text-decoration: none;
  font-size: 2.4rem;
  outline: none;
}

.hero__header--buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12%;
          flex: 0 0 12%;
  margin-right: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__header--sign-in {
  text-decoration: none;
  font-size: 2rem;
  color: #292929;
  outline: none;
}

.hero__header--start-trial {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  background-color: #01996D;
  padding: 1rem;
  border-radius: 5px;
  height: 5rem;
  width: 15rem;
  text-align: center;
  outline: none;
}

.hero__content {
  background-image: url(../img/04.jpg);
  height: 100%;
}

.hero__info {
  margin-left: 25rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 74px;
  width: 44rem;
  color: #01996D;
}

.hero__description {
  width: 42rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.1rem;
  letter-spacing: 0em;
  text-align: left;
}

.hero__button {
  color: #fff;
  background-color: #01996D;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  height: 5rem;
  width: 15rem;
  outline: none;
  font-size: 2rem;
}

.section__02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 2rem;
}

.works__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
}

.works__heading--secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 157%;
  color: #292929;
}

.works__heading--primary {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 157%;
  width: 58.4rem;
  color: #01996D;
}

.works__description {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  width: 60rem;
  height: 26.9rem;
  line-height: 150%;
  color: #424242;
  margin-top: 10rem;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 5rem;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.step__counter {
  width: 157px;
  height: 225px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15rem;
  line-height: 150%;
  color: rgba(1, 153, 109, 0.2);
}

.step__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000;
  margin-top: -10rem;
  margin-left: 10rem;
}

.step__description {
  margin-top: 6rem;
  width: 382px;
  height: 150px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}

.step__img {
  border-radius: 1.2rem;
  width: 39rem;
  height: 49.2rem;
  margin-top: 5rem;
}

.step--2 {
  margin-top: 30rem;
}

.review {
  height: 92.2rem;
  background: #245852;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review__heading--primary {
  width: 580px;
  height: 158px;
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 157%;
  margin-top: 30rem;
  color: #fff;
}

.review__heading--secondary {
  width: 550px;
  height: 39px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  line-height: 157%;
}

.review__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.review__button {
  color: #fff;
  background-color: #01996D;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  border-radius: 5px;
  height: 5rem;
  width: 20rem;
  outline: none;
  font-size: 2rem;
  margin-top: 3rem;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
}

.product__image {
  width: 638.69px;
  height: 573.26px;
  margin-left: 35rem;
}

.product__image--client {
  width: 100%;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 35rem;
}

.product__secondary {
  width: 136px;
  height: 39px;
  font-style: normal;
  font-weight: 600;
  font-size: 250px;
  line-height: 157%;
  color: #424242;
}

.product__description {
  width: 530px;
  height: 81px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  color: #484848;
}
/*# sourceMappingURL=main.css.map */